#content {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 75px;
}

#copyright {
	height: 75px;
	text-align: center;
	margin-top: auto;
}

#body {
    min-height: 100vh;
	display: flex;
	flex-direction: column;
}